<legend>News List</legend>
<form class="form-search" id="news-search-form">
  <div class="input-append">
    <input id="news-search-input" type="text" class="span11 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
</form>
<table id="news_list" class="table table-hover">
	<thead>
		<tr>
			<th>Image</th>
			<th>Date</th>
			<th>Priority</th>
			<th>Titre</th>
			<th>Source</th>
			<th>Category</th>
			<th>Language</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
</table>
<div id="news-pagination" class="pagination">
	<ul>
		{{pagination}}
	</ul>
</div>
<div id="news-loader" class="well">
	<p>Loading...</p>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 100%;"></div>
	</div>
</div>
<legend>Actions</legend>
<a class="btn btn-large btn-block btn-primary" href="/news/new">Create a News</a>
<br>
