<legend>News List</legend>
<table id="news_list" class="table table-hover">
	<thead>
		<tr>
			<th>Image</th>
			<th>Date</th>
			<th>Priority</th>
			<th>Titre</th>
			<th>Source</th>
			<th>Category</th>
			<th>Language</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
</table>
<legend>Actions</legend>
<a class="btn btn-large btn-block btn-primary" href="/news/new">Create a News</a>

