<legend>News List</legend>
<form class="form-search" id="news-search-form">
  <div class="input-append">
    <input name="queryString" id="news-search-input" type="text" class="span11 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
  <br />
<div class="checkbox inline">
  Search in:
</div>
  <label class="checkbox inline">
  <input name="search_titles" type="checkbox" id="inlineCheckbox1" value="1" checked> Titles
</label>
<label class="checkbox inline">
  <input name="search_contents" type="checkbox" id="inlineCheckbox2" value="1" checked> Contents
</label>
<label class="checkbox inline">
  <input name="search_tags" type="checkbox" id="inlineCheckbox2" value="1" checked> Tags
</label>
<label class="checkbox inline">
  <input name="search_sections" type="checkbox" id="inlineCheckbox3" value="1" checked> Sections
</label>
<label class="checkbox inline">
  <input name="search_sources" type="checkbox" id="inlineCheckbox3" value="1" checked> Sources
</label>
<label class="checkbox inline">
  <input name="search_categories" type="checkbox" id="inlineCheckbox2" value="1" checked> Categories
</label>
<label class="checkbox inline">
  <input name="search_app_types" type="checkbox" id="inlineCheckbox2" value="1" checked> Application types
</label>
</form>
<table id="news_list" class="table table-hover">
	<thead>
		<tr>
			<th>Image</th>
			<th>Date</th>
			<th>Priority</th>
			<th class="title_col">Titre</th>
			<th class="source_col">Source</th>
			<th>Category</th>
			<th>L</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
</table>
<div id="news-pagination" class="pagination">
	<ul>
		{{pagination}}
	</ul>
</div>
<div id="news-loader" class="well">
	<p>Loading...</p>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 100%;"></div>
	</div>
</div>
<legend>Actions</legend>
<a class="btn btn-large btn-block btn-primary" href="/news/new">Create a News</a>
<br>
