@import 'nib'

.pagination
  text-align: center

.title_col
  width: 1500px

.source_col
  width: 40px

form#news_details
  label
    display: inline-block !important
  #droplists
    .span2
      width: 100px
  table#categories
    td
      color: white
      padding: 5px
    #cat-easy
      background-color: #f06b1a
    #cat-hardcore
      background-color: #e43a3a
    #cat-coups-de-coeur
      background-color: #863081
    #cat-business
      background-color: #3f7bc0
    #cat-price-drops
      background-color: #6fbb45
    #cat-top-topics
      background-color: #80cde0
    #cat-best-ever
      background-color: #fdcb4b

  .clear
    clear: both